<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>UFPBex</title>
</head>
<body>
    <div>
        <header>
            <img src="https://media.discordapp.net/attachments/1143262060763947072/1276518037662470214/image.png?ex=66c9d190&is=66c88010&hm=c772f2f1ef9b85f3f8ebf6559aa88b9bff9436207ff611f2bcc251329d9e8120&=&format=webp&quality=lossless&width=768&height=390" alt="MACONHAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">
            <form action="/curso" method="GET">    
                <input type="text" name="curso">
            </form>
        </header>